// ./scss/framework/modules/_hamburgers.scss
// MODULES DES HAMBURGERS

.menuToggle {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  position: fixed;
  height: 60px!important;
  overflow: hidden;
  z-index: 10;
}
#sidebarMenu {
  height: auto;
  position: fixed;
  left: 0;
  width:100%;
  margin-top: -5px;
  transform: translateY(-340px);
  transition: transform 250ms ease-in-out;
  background: $hamburgerCouleurNormal;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  li {
    display: block;
    font-size: $texteTailleMini;
    text-transform: $texteTypoMajuscule;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    a {
      color: $hamburgerCouleurTexteNormal;
      text-transform: $texteTypoMajuscule;
      font-weight: $texteEpaisseurGras;
      cursor: pointer;
      &:active, &:hover {
        color: $hamburgerCouleurTexteActif;
      }
    }
  }
}

// faire descendre le menu:
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateY(0);
 }

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  display: block;
  width: 40px;
  height: 6px;
  margin-bottom: 5px;
  position: relative;
  background: $hamburgerCouleur;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;

}
.diagonal.part-1 {
  transform-origin: 0% 0%;

}
.horizontal {
  transform-origin: 0% 100%;

}

input[type=checkbox]:checked ~ .sidebarIconToggle > .spinner {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $hamburgerCouleur;
  margin-bottom: 18px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transform: rotate(-45deg) translate(0, -1px);

}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
