// ./scss/framework/modules/_textes.scss
// MODULES DES TEXTES
@import '../variables';


.texte_decoration__none {
  text-decoration: none;
}

.texte_font__1 {
  font-family: $texteFont1;
}

/* Alignements des textes */
  .texte_alignement__centre {
    text-align: center;
  }
  .texte_alignement__gauche {
    text-align: left;
  }
  .texte_alignement__droite {
    text-align: right;
  }
  .texte_alignement__justifie {
    text-align: justify;
  }

  /* Couleurs des textes */
    .texte_couleur__1 {
      color: $couleur1Claire;
    }
    .texte_couleur__2 {
      color: $couleur1Foncee;
    }
    .texte_couleur__n1 {
      color: $couleurFoncee2;
    }

  /* Tailles des textes */
    .texte_taille__grand {
      font-size: $texteTailleGrand;
    }
    .texte-_taille__medium {
      font-size: $texteTailleMoyen;
    }
    .texte_taille__petit {
      font-size: $texteTaillePetit;
    }

  /* Types de textes */
    .texte_type__majuscules {
      text-transform: uppercase;
    }
    .texte-_type__minuscules {
      text-transform: lowercase;
    }
    .texte_type__capitales {
      text-transform: capitalize;
    }
